header {
    background-color: #FFFFFF;
}

nav, aside {
    width: 300px;
}

a {
    text-decoration: none;
    color: #000;
}

main {
    height: 1000px;
}

footer {
    padding-top: 20px;
    background-color: #696F76;
    height: 400px;
}

