/* header {

} */

div.user-stats, div.site-logo, div.user-stats ul, div.highly-rated ul {
    display: flex;
}

div.user-stats, div.site-logo {
    justify-items: center;
}

div.user-stats {
    justify-content: space-between;
    background-color: #D5FFD2;
}

div.site-logo, div.user-stats ul {
    flex-direction: row;
}

div.site-logo img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

div.site-logo h3:nth-child(1) {
    margin: 10px 5px 0 50px;
    font-size: 50px;
}

div.site-logo h3:nth-last-child(1) {
    margin: 10px 50px 0 5px;
    font-size: 50px;
}

div.user-stats ul {
    list-style-type: none;
    justify-content: flex-end;
    gap: 10px;
}

div.user-stats ul li {
    padding: 25px 15px;
}

div.user-stats ul li a {
    color: #296125;
    font-size: 20px;
}

div.user-stats ul li:hover {
    transition: 600ms;
    background-color: #fff;
}

div.highly-rated {
    height: 600px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/maxresdefault.jpg");
}

div.highly-rated ul {
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.highly-rated li {
    margin-top: 300px;
}

div.rated-item {
    padding: 5px 10px 1px 10px;
    border-radius: 20px;
    background-color: #fff;
}

div.rated-item p {
    color: #000;
}

div.rated-item img {
    width: 175px;
    height: 150px;
}