main {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

/* left navigation */
main nav {
    background-color: #D5FFD2;
}

main nav ul {
    text-align: center;
}

main nav ul li:nth-child(1) {
    border-top: none;
}

main nav ul li, main nav ul li:last-child {
    border-bottom: 1px solid #000;
}

main nav ul li {
    padding: 14px;
}

main nav ul li:hover {
    border: 1px solid #000;
    transition: 300ms;
    background-color: #fff;
}

main nav ul li a {
    color: #296125;
    font-size: 30px;
}

/* main article */
article {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-left: 40px;
}

div.promotion-parts {
    margin: 5px;
    border: 1px solid #000;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
}

div.promotion-parts:hover {
    border-color: #296125;
    transition: 0.4s;
    box-shadow: 0 5px 10px 0 #033000, 0 10px 20px 0 rgba(142, 142, 142, 0.19);
}

/* main form */
form {
    background-color: #D5FFD2;
    width: 600px;
    height: auto;
    padding: 50px 0;
    margin: 150px auto;
    text-align: center;
    border-radius: 30px;
}

legend {
    margin-bottom: 50px;
    font-size: 50px;
}

/* main aside */
aside {
    overflow-x: hidden;
    background-color: #fff;
}

aside ul li {
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 146.1px;
    border: none;
    margin-bottom: 1px;
}

li.msi {
    background-image: url('../logo/OIP-msi.jpg');
}

li.aorus {
    background-image: url('../logo/OIP.jpg');
}

li.corsair {
    background-image: url('../logo/corsair.jpg');
}

li.rog {
    background-image: url('../logo/asus-rog.jpg');
}

li.razer {
    background-image: url('../logo/razer-logo.jpg');
}

aside ul li a {
    background-color: #D5FFD2;
    color: #296125;
    padding: 5px;
}
